Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

[ci] format
  examples/with-markdown/src/styles/global.css
  packages/astro/test/astro-markdown.test.js
Labels: example, test, core

fix(windows): fix build script on windows (#2830)
  packages/webapi/run/build.js
Labels: none

Enter prerelease mode (#2832)
  .changeset/pre.json
  pnpm-lock.yaml
Labels: none

Update Compiler with new CSS Parser (#2833)
  .changeset/eighty-trees-thank.md
  packages/astro/package.json
  packages/astro/test/astro-partial-html.test.js
  pnpm-lock.yaml
Labels: test, core

chore: update lockfile
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

chore: fix missing `postcss-load-config` dependency (#2835)
  .changeset/moody-trees-allow.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

chore: cleanup example dependencies (#2837)
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  pnpm-lock.yaml
Labels: example

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Release bot (#2836)
  .github/workflows/ci.yml
  scripts/notify/index.js
Labels: ğŸš¨ action

[ci] format
  scripts/notify/index.js
Labels: none

Revert "[ci] release (next) (#2838)"
  .changeset/pre.json
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/component/demo/package.json
  examples/component/package.json
  examples/docs/package.json
  examples/env-vars/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starter/package.json
  examples/subpath/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
Labels: example, core

[ci] release (next) (#2838)
  .changeset/pre.json
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/component/demo/package.json
  examples/component/package.json
  examples/docs/package.json
  examples/env-vars/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starter/package.json
  examples/subpath/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: example, core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] update lockfile (#2841)
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-solid/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  packages/astro/package.json
  packages/integrations/lit/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/renderers/renderer-svelte/package.json
  pnpm-lock.yaml
Labels: example, core, markdown, renderer, framework-svelte

feat(create-astro): add peer dependencies to package.json (#2843)
  .changeset/rude-starfishes-drop.md
  packages/create-astro/package.json
  packages/create-astro/src/config.ts
  packages/create-astro/src/frameworks.ts
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: create-astro

chore: update changeset
  .changeset/rude-starfishes-drop.md
Labels: none

chore: integration keywords (#2847)
  .changeset/tidy-jobs-beg.md
  packages/integrations/lit/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/sitemap/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
  packages/integrations/vue/package.json
Labels: none

add injected scripts to markdown pages (#2848)
  .changeset/twenty-kiwis-tease.md
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

Feat: support tailwind config files (#2831)
  .changeset/rude-panthers-tease.md
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  pnpm-lock.yaml
Labels: none

update ci to fix congratsbot
  .github/workflows/ci.yml
  package.json
Labels: ğŸš¨ action

update ci to fix congratsbot
  package.json
Labels: none

Fix: `isSelfAccepting`? More like `isBanishedToTheShadowRealm` (#2852)
  .changeset/forty-badgers-relate.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

chore: vscode files (#2844)
  .gitignore
  .vscode/extensions.json
  examples/blog/.vscode/extensions.json
  examples/blog/.vscode/launch.json
  examples/docs/.vscode/extensions.json
  examples/docs/.vscode/launch.json
  examples/minimal/.vscode/extensions.json
  examples/minimal/.vscode/launch.json
  examples/portfolio/.vscode/extensions.json
  examples/portfolio/.vscode/launch.json
  examples/starter/.vscode/extensions.json
  examples/starter/.vscode/launch.json
Labels: example

[ci] format
  .vscode/extensions.json
  examples/blog/.vscode/extensions.json
  examples/docs/.vscode/extensions.json
  examples/minimal/.vscode/extensions.json
  examples/portfolio/.vscode/extensions.json
  examples/starter/.vscode/extensions.json
Labels: example

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

marking Astro.resolve() as deprecated (#2856)
  packages/astro/src/@types/astro.ts
Labels: core

fix: ensure private API is not enumerable (#2859)
  .changeset/modern-adults-dance.md
  packages/astro/components/Markdown.astro
  packages/astro/src/core/render/result.ts
Labels: core

[ci] format
  packages/astro/src/core/render/result.ts
Labels: core

audit file urls (#2853)
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Updated markdownOptions config type (#2826)
  packages/astro/src/@types/astro.ts
Labels: core

[ci] format
  packages/astro/src/@types/astro.ts
Labels: core

Pin `rollup` to same version as `vite` (#2863)
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

chore: add build:ci command
  packages/astro/package.json
Labels: core

add build:ci command which skips `tsc` (#2869)
  package.json
  packages/create-astro/package.json
  packages/integrations/lit/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/sitemap/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/webapi/package.json
  turbo.json
Labels: create-astro, markdown

Adapters v0 (#2855)
  .changeset/hot-plants-help.md
  examples/ssr/astro.config.mjs
  examples/ssr/build.mjs
  examples/ssr/package.json
  examples/ssr/server/server.mjs
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/adapter-ssg/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.d.ts
  packages/astro/src/core/build/vite-plugin-internals.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/node/package.json
  packages/integrations/node/readme.md
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/tsconfig.json
  pnpm-lock.yaml
Labels: example, test, core

[ci] format
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/adapter-ssg/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
Labels: test, core
