Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

[ci] format
  packages/astro/src/cli/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/test/cli.test.js
  packages/astro/test/test-utils.js
Labels: test, core

chore: add changeset
  .changeset/giant-cycles-search.md
Labels: none

Improve `Astro.slots` API (#2695)
  .changeset/clean-bottles-drive.md
  packages/astro/components/Markdown.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/test/fixtures/astro-slots/src/components/SlottedAPI.astro
Labels: core

[ci] format
  packages/astro/src/core/render/result.ts
Labels: core

update lockfile
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore(ci): remove second smoke test with --experimental-static-build flag (#2748)
  scripts/smoke/index.js
Labels: none

fix component usage in portfolio-svelte 404 page (#2549)
  examples/portfolio-svelte/src/pages/404.astro
Labels: example

update deps: esbuild, typescript (#2750)
  .changeset/khaki-humans-sort.md
  package.json
  packages/astro-parser/package.json
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/postcss.test.js
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  packages/webapi/package.json
  packages/webapi/src/lib/Timeout.ts
  pnpm-lock.yaml
  scripts/package.json
Labels: test, core, create-astro

[ci] format
  packages/create-astro/src/index.ts
Labels: create-astro

Support Prism in the blog template example (#2622)
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/posts/index.md
  examples/blog/src/styles/blog.css
Labels: example

Refactor fs utils, fix flakey windows tests (#2749)
  packages/astro/src/core/build/fs.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/util.ts
Labels: core

[ci] format
  packages/astro/src/core/util.ts
Labels: core

Feat: show 404 when `getStaticPaths` doesn't match URL (#2743)
  .changeset/young-rules-draw.md
  .eslintrc.cjs
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/[...calledTwiceTest].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[...pizza].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[cheese]-[topping].astro
Labels: test, core

fix eperm ci issue on windows (#2757)
  packages/astro/src/core/preview/index.ts
Labels: core

Add sitemap filter option (#2755)
  .changeset/cool-ravens-occur.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/sitemap.ts
Labels: core

[ci] format
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/render/sitemap.ts
Labels: core

fix(#2753): unescape `define:vars` (#2756)
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/package.json
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
  pnpm-lock.yaml
Labels: test, core

Update util.ts (#2761)
  packages/astro/src/core/util.ts
Labels: core

CLI: add prerelease warning (#2758)
  .changeset/stupid-pots-give.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
Labels: core

[ci] format
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
Labels: core

chore: update lockfile
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

fix sitemapFilter docs (#2762)
  packages/astro/src/@types/astro.ts
Labels: core

[ci] format
  packages/astro/src/@types/astro.ts
Labels: core

Update compiler (#2767)
  .changeset/empty-students-occur.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

Feat: expose server on local network with new --host flag (#2760)
  .changeset/breezy-walls-guess.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/preview/util.ts
  packages/astro/test/cli.test.js
  packages/astro/test/config.test.js
  packages/astro/test/fixtures/config-host/astro.config.mjs
  packages/astro/test/fixtures/config-host/package.json
  packages/astro/test/fixtures/config-path/config/my-config.mjs
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: test, core

[ci] format
  packages/astro/test/cli.test.js
Labels: test, core

Fix dev resolution of client modules on Windows (#2768)
  .changeset/strange-kings-add.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

[ci] update lockfile (#2763)
  examples/blog-multiple-authors/package.json
  examples/docs/package.json
  examples/ssr/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  package.json
  packages/astro-parser/package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/legacy-build/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/astro/test/fixtures/static build/package.json
  packages/create-astro/package.json
  packages/markdown/remark/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: example, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

chore: exit prerelease mode
  .changeset/pre.json
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fix: Astro.props missing properties (#2785)
  .changeset/nice-tables-applaud.md
  packages/astro/src/core/render/core.ts
Labels: core

improve build perf (#2772)
  .changeset/tough-cherries-bathe.md
  .changeset/tough-dragons-sniff.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/astro-doctype/public/styles/global.css
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithDoctype.astro
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithoutDoctype.astro
Labels: core

[ci] update lockfile (#2773)
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, core, create-astro
