Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore: upgrade compiler (#2594)
  .changeset/warm-drinks-design.md
  packages/astro/package.json
  yarn.lock
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

Pass children to client components even if they do not render them (#2588)
  .changeset/great-suns-pump.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-children.test.js
  packages/astro/test/fixtures/astro-children/src/components/NoRender.jsx
  packages/astro/test/fixtures/astro-children/src/pages/no-render.astro
Labels: test, core

[ci] yarn format
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
Labels: core

Bug fix: Order of params for routing has to match (#2593)
  .changeset/sweet-spoons-cheer.md
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

Clarify @staff role in governance docs (#2553)
  GOVERNANCE.md
Labels: none

[ci] yarn format
  GOVERNANCE.md
Labels: none

chore: upgrade `@astrojs/compiler` (#2599)
  .changeset/eighty-cows-wink.md
  packages/astro/package.json
  yarn.lock
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

importing and inlining global.css with set:html (#2601)
  examples/with-tailwindcss/src/pages/index.astro
Labels: example

Chore: configure buildOptions.site on examples/blog (#2590)
  examples/blog/astro.config.mjs
Labels: example

Fix loading of styles in static build (#2605)
  .changeset/fuzzy-drinks-drop.md
  packages/astro/src/core/path.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

Static build - fixes path to HMR script (#2606)
  .changeset/cool-months-deliver.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Adds memory leak test in CI (#2616)
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/astro/package.json
  scripts/memory/index.js
  scripts/memory/mk.js
  scripts/memory/project/.gitkeep
  scripts/memory/project/src/pages/.gitkeep
  yarn.lock
Labels: ğŸš¨ action, core

[ci] yarn format
  scripts/memory/index.js
  scripts/memory/mk.js
Labels: none

Improve smoke tests (#2617)
  .github/workflows/ci.yml
  package.json
  scripts/smoke/index.js
Labels: ğŸš¨ action

Expose private `.env` variables to `import.meta.env` during SSR (#2612)
  .changeset/nine-donuts-confess.md
  examples/env-vars/.env
  examples/env-vars/.gitignore
  examples/env-vars/.npmrc
  examples/env-vars/.stackblitzrc
  examples/env-vars/README.md
  examples/env-vars/astro.config.mjs
  examples/env-vars/package.json
  examples/env-vars/public/favicon.ico
  examples/env-vars/sandbox.config.json
  examples/env-vars/src/env.d.ts
  examples/env-vars/src/pages/index.astro
  examples/env-vars/src/scripts/client.ts
  examples/env-vars/tsconfig.json
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-env/README.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/src/components/Client.vue
  packages/astro/test/fixtures/astro-envs/src/pages/index.astro
  scripts/memory/index.js
Labels: example, test, core

[ci] yarn format
  examples/env-vars/src/env.d.ts
  examples/env-vars/src/scripts/client.ts
  packages/astro/src/vite-plugin-env/index.ts
Labels: example, core

chore: exit pre
  .changeset/pre.json
Labels: none

update changeset tags before release
  .changeset/few-coats-warn.md
  .changeset/slow-islands-fix.md
Labels: none

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

update lockfile (#2620)
  yarn.lock
Labels: none

improve memory leak test (#2621)
  .github/workflows/ci.yml
  scripts/memory/index.js
Labels: ğŸš¨ action

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Make Non-HTML Pages work for static build (#2638)
  packages/astro/src/core/render/dev/index.ts
Labels: core

[ci] yarn format
  packages/astro/src/core/render/dev/index.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Create afraid-phones-peel.md
  .changeset/afraid-phones-peel.md
Labels: none

Fixed shiki import to work with "type": "module" (#2628)
  .changeset/great-hotels-breathe.md
  packages/astro/components/Code.astro
  packages/markdown/remark/src/remark-shiki.ts
Labels: core, markdown

[ci] update lockfile (#2624)
  yarn.lock
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Run all smoke tests with the static build (#2609)
  examples/with-vite-plugin-pwa/src/pages/index.astro
  scripts/smoke/index.js
Labels: example

[ci] yarn format
  scripts/smoke/index.js
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
