Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

Basic Filesystem API
  .gitignore
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/tsconfig.json
  pnpm-lock.yaml
Labels: none

Build API Routes
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  pnpm-lock.yaml
Labels: core

Prevent CSS from being added to pages not using it (#2918)
  .changeset/tiny-snails-grab.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/page-level-styles/src/layouts/Base.astro
  packages/astro/test/fixtures/page-level-styles/src/layouts/Styled.astro
  packages/astro/test/fixtures/page-level-styles/src/pages/blog.astro
  packages/astro/test/fixtures/page-level-styles/src/pages/index.astro
  packages/astro/test/fixtures/page-level-styles/src/styles/main.css
  packages/astro/test/page-level-styles.test.js
Labels: test, core

[ci] format
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/page-level-styles.test.js
Labels: test, core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

Updated some types + added webapi
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/src/shims.ts
  pnpm-lock.yaml
Labels: none

Removed syntax files (#2516)
  tools/vscode/syntaxes/astro-markdown.tmLanguage.json
  tools/vscode/syntaxes/astro.tmLanguage.json
Labels: none

Corrected package name in warning message (#2911)
  packages/astro/src/core/config.ts
Labels: core

[ci] format
  packages/astro/src/core/config.ts
Labels: core

Fix typing of `integrations` array in user config (#2907)
  .changeset/real-starfishes-turn.md
  packages/astro/src/@types/astro.ts
Labels: core

[ci] update lockfile (#2900)
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

Enable next mode (#2920)
  .changeset/pre.json
Labels: none

Restyle error messages (#2902)
  .changeset/small-radios-remain.md
  packages/astro/src/cli/check.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/errors.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/render/dev/error.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/config-validate.test.js
Labels: test, core

[ci] format
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/util.ts
Labels: core

New Markdown API (#2862)
  .changeset/forty-coins-attend.md
  examples/blog-multiple-authors/src/components/PostPreview.astro
  examples/blog-multiple-authors/src/pages/authors/[author].astro
  examples/blog-multiple-authors/src/pages/index.astro
  examples/blog-multiple-authors/src/pages/posts/[...page].astro
  examples/blog/src/components/BlogPostPreview.astro
  examples/blog/src/pages/index.astro
  examples/portfolio/src/components/PortfolioPreview/index.jsx
  examples/portfolio/src/pages/index.astro
  examples/portfolio/src/pages/projects.astro
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/named-root-page/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/optional-root-page/[...page].astro
  packages/astro/test/fixtures/astro-sitemap-rss/src/pages/episodes/[...page].astro
  packages/astro/test/fixtures/debug-component/src/pages/posts/[slug].astro
  packages/astro/test/fixtures/static build/src/pages/index.astro
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: example, test, core

[ci] format
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

[fix] 2924 Update import in astro config of portfolio starter (#2926)
  .changeset/stale-walls-whisper.md
  examples/portfolio/astro.config.mjs
Labels: example

Implement the Astro.request RFC (#2913)
  .changeset/perfect-dogs-turn.md
  examples/blog-multiple-authors/src/layouts/post.astro
  examples/blog-multiple-authors/src/pages/about.astro
  examples/blog-multiple-authors/src/pages/index.astro
  examples/blog-multiple-authors/src/pages/posts/[...page].astro
  examples/docs/src/layouts/MainLayout.astro
  examples/ssr/src/pages/products/[id].astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/request.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/request.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/[...calledTwiceTest].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[...pizza].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[cheese]-[topping].astro
  packages/astro/test/fixtures/astro-global/src/components/Child.astro
  packages/astro/test/fixtures/astro-global/src/components/NestedChild.astro
  packages/astro/test/fixtures/astro-global/src/layouts/post.astro
  packages/astro/test/fixtures/astro-global/src/pages/index.astro
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/index.astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/named-root-page/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/optional-root-page/[...page].astro
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
Labels: example, test, core

[ci] format
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Make it deployable to Netlify (#2931)
  examples/ssr/astro.config.mjs
  examples/ssr/package.json
  examples/ssr/server/api.mjs
  examples/ssr/server/dev-api.mjs
  examples/ssr/server/server.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/models/db.json
  examples/ssr/src/models/db.ts
  examples/ssr/src/models/session.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/api/products.ts
  examples/ssr/src/pages/api/products/[id].ts
  examples/ssr/tsconfig.json
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
  packages/astro/test/ssr-dynamic.test.js
Labels: example, test, core

[ci] format
  examples/ssr/server/server.mjs
  examples/ssr/src/models/db.ts
  examples/ssr/src/models/session.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/api/products.ts
  examples/ssr/src/pages/api/products/[id].ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: example, core

Make the SSR example infer the origin (#2932)
  examples/ssr/src/api.ts
  examples/ssr/src/components/Header.astro
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/index.astro
  examples/ssr/src/pages/products/[id].astro
Labels: example

[ci] format
  examples/ssr/src/api.ts
Labels: example

[ci] update lockfile (#2930)
  package.json
  packages/astro/package.json
  packages/integrations/svelte/package.json
  pnpm-lock.yaml
Labels: core

Fixes API route compat with Node 14 (#2936)
  .changeset/odd-swans-walk.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

[ci] format
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

remove docs jsdoc tag from adapter (#2927)
  packages/astro/src/@types/astro.ts
Labels: core

Added readonly config to more hooks
  packages/astro/src/@types/astro.ts
  packages/astro/src/integrations/index.ts
Labels: core

Rework - now it's all SSR
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/src/request-transform.ts
  packages/integrations/vercel/src/server-entrypoint.ts
  packages/integrations/vercel/src/shims.ts
  pnpm-lock.yaml
Labels: core

Removed changes no longer necessary
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/vercel/src/index.ts
  pnpm-lock.yaml
Labels: core

Reverted changes in core/build
  packages/astro/src/core/build/index.ts
Labels: core

Reverted unwanted change in pnpm-lock
  pnpm-lock.yaml
Labels: none

Updated readme
  packages/integrations/vercel/README.md
Labels: none

Updated gitignores
  examples/blog-multiple-authors/.gitignore
  examples/blog/.gitignore
  examples/component/.gitignore
  examples/docs/.gitignore
  examples/env-vars/.gitignore
  examples/framework-alpine/.gitignore
  examples/framework-lit/.gitignore
  examples/framework-multiple/.gitignore
  examples/framework-preact/.gitignore
  examples/framework-react/.gitignore
  examples/framework-solid/.gitignore
  examples/framework-svelte/.gitignore
  examples/framework-vue/.gitignore
  examples/integrations-playground/.gitignore
  examples/minimal/.gitignore
  examples/non-html-pages/.gitignore
  examples/portfolio/.gitignore
  examples/starter/.gitignore
  examples/subpath/.gitignore
  examples/with-markdown-plugins/.gitignore
  examples/with-markdown-shiki/.gitignore
  examples/with-markdown/.gitignore
  examples/with-nanostores/.gitignore
  examples/with-tailwindcss/.gitignore
  examples/with-vite-plugin-pwa/.gitignore
Labels: example

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] format
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/render/pretty-feed.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/test-utils.js
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/src/shim.ts
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/helpers.js
Labels: test, core

chore(.gitignore): remove pnpm error logs from git (#2938)
  examples/blog-multiple-authors/.gitignore
  examples/blog/.gitignore
  examples/component/.gitignore
  examples/docs/.gitignore
  examples/env-vars/.gitignore
  examples/framework-alpine/.gitignore
  examples/framework-lit/.gitignore
  examples/framework-multiple/.gitignore
  examples/framework-preact/.gitignore
  examples/framework-react/.gitignore
  examples/framework-solid/.gitignore
  examples/framework-svelte/.gitignore
  examples/framework-vue/.gitignore
  examples/integrations-playground/.gitignore
  examples/minimal/.gitignore
  examples/non-html-pages/.gitignore
  examples/portfolio/.gitignore
  examples/starter/.gitignore
  examples/subpath/.gitignore
  examples/with-markdown-plugins/.gitignore
  examples/with-markdown-shiki/.gitignore
  examples/with-markdown/.gitignore
  examples/with-nanostores/.gitignore
  examples/with-tailwindcss/.gitignore
  examples/with-vite-plugin-pwa/.gitignore
Labels: example

Allow components to return a Response (#2944)
  .changeset/chatty-cows-attack.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-response.test.js
  packages/astro/test/fixtures/astro-response/src/components/not-found.astro
  packages/astro/test/fixtures/astro-response/src/pages/not-found-component.astro
  packages/astro/test/fixtures/astro-response/src/pages/not-found.astro
Labels: test, core
