Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

[ci] format
  packages/astro/src/runtime/server/index.ts
Labels: core

Updated hooks
  packages/astro/src/@types/astro.ts
  packages/astro/src/integrations/index.ts
Labels: core

Build to CommonJS
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  pnpm-lock.yaml
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Add support for React 18 in @astrojs/react (#2947)
  .changeset/ninety-jars-swim.md
  packages/astro/test/fixtures/react-component/package.json
  packages/integrations/react/client-v17.js
  packages/integrations/react/package.json
  packages/integrations/react/server-v17.js
  packages/integrations/react/src/index.ts
  pnpm-lock.yaml
Labels: core

[ci] format
  packages/integrations/react/src/index.ts
Labels: none

React 18 monorepo upgrade (#2948)
  examples/docs/package.json
  examples/framework-multiple/package.json
  examples/framework-react/package.json
  examples/integrations-playground/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  packages/astro/test/fixtures/react-component/package.json
  packages/integrations/react/package.json
  packages/integrations/react/src/index.ts
  packages/renderers/renderer-react/package.json
  pnpm-lock.yaml
Labels: example, core, renderer, framework-react

[ci] format
  packages/integrations/react/src/index.ts
Labels: none

Fix the favicon for the starter example (#2940)
  examples/starter/public/favicon.ico
Labels: example

fix: `--experimental-ssr` fixes (#2937)
  .changeset/flat-radios-cheer.md
  examples/ssr/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/helpers.js
Labels: example, test, core

chore: add code comment
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: core

[ci] format
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: core

SSR - copy public folder when there is no client JS (#2955)
  .changeset/swift-trainers-suffer.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/ssr-request/public/cars.json
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
  packages/astro/test/ssr-request.test.js
Labels: test, core

[ci] format
  packages/astro/test/ssr-request.test.js
Labels: test, core

Add function-based slot support to `Astro.slots.render()` (#2954)
  .changeset/light-apricots-sort.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/Render.astro
  packages/astro/test/fixtures/astro-slots/src/components/RenderArgs.astro
  packages/astro/test/fixtures/astro-slots/src/components/RenderFn.astro
  packages/astro/test/fixtures/astro-slots/src/pages/slottedapi-render.astro
Labels: test, core

[ci] format
  packages/astro/src/core/render/result.ts
Labels: core

Updated readme
  packages/integrations/vercel/README.md
Labels: none

Removed extra code
  packages/integrations/vercel/src/index.ts
Labels: none

Reverted config hook changes
  packages/astro/src/@types/astro.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/vercel/src/index.ts
Labels: core

Added some comments
  packages/integrations/vercel/src/index.ts
Labels: none

Added .output to prettierignore
  .prettierignore
Labels: none

Added changeset
  .changeset/twelve-parrots-report.md
Labels: none

Update compiler (#2957)
  .changeset/soft-avocados-turn.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Allows projects to opt out of the base Tailwind styles (#2959)
  .changeset/tasty-zoos-wink.md
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/src/index.ts
Labels: none

Fixed flag override (#2956)
  packages/astro/src/core/config.ts
Labels: core

Add tests for using buildConfig (#2960)
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

[ci] format
  packages/astro/test/ssr-adapter-build-config.test.js
Labels: test, core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Implement new default `script` behavior, `style is:global` (#2961)
  .changeset/happy-carrots-carry.md
  examples/component/demo/src/pages/index.astro
  examples/with-tailwindcss/src/components/Button.astro
  packages/astro/package.json
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/astro-public.test.js
  packages/astro/test/fixtures/astro-css-bundling/src/components/Nav.astro
  packages/astro/test/fixtures/astro-public/src/pages/index.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Inline.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistClassic.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistModule.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget2.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external.astro
  packages/astro/test/fixtures/remote-css/src/components/CommonHead.astro
  pnpm-lock.yaml
Labels: example, test, core

[ci] format
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

[ci] format
  examples/with-markdown-shiki/astro.config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/config-validate.test.js
  packages/astro/test/ssr-request.test.js
Labels: example, test, core

exit prerelease mode (#2967)
  .changeset/pre.json
  examples/blog-multiple-authors/package.json
  examples/blog/astro.config.mjs
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-svelte/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/astro/src/core/config.ts
  packages/astro/test/fixtures/sass/package.json
  packages/integrations/preact/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: example, core, renderer, framework-preact, framework-svelte, framework-vue

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

add big reformat to git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Formatted
  packages/integrations/vercel/src/index.ts
Labels: none

New astro config
  packages/integrations/vercel/src/index.ts
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fixing the new config defaults (docs only) (#2973)
  .changeset/plenty-suits-happen.md
  packages/astro/src/@types/astro.ts
Labels: core

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
