Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

fix(markdown): escape when mode == 'md' (#2971)
  .changeset/silent-cows-shave.md
  packages/markdown/remark/src/index.ts
Labels: markdown

fix(cli): prevent CLI from hanging (#2974)
  .changeset/soft-dolphins-join.md
  packages/astro/astro.js
Labels: core

chore: updated examples to v0.26.0 (#2977)
  examples/blog-multiple-authors/src/pages/authors/[author].astro
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
  examples/docs/src/layouts/MainLayout.astro
  examples/docs/src/pages/index.astro
  examples/env-vars/src/pages/index.astro
  examples/framework-alpine/src/pages/index.astro
  examples/integrations-playground/src/pages/index.astro
  examples/non-html-pages/src/pages/index.astro
  examples/ssr/astro.config.mjs
  examples/subpath/astro.config.mjs
  examples/with-vite-plugin-pwa/src/pages/index.astro
Labels: example

fix: edge case with slotted children (#2978)
  .changeset/flat-coats-crash.md
  packages/astro/src/runtime/server/index.ts
Labels: core

fix outdir default type docs
  packages/astro/src/@types/astro.ts
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

enter beta pre mode (#2979)
  .changeset/pre.json
  .changeset/shiny-rice-worry.md
Labels: none

Add JSX definitions to main repo (#2985)
  packages/astro/astro-jsx.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

[ci] format
  packages/astro/astro-jsx.d.ts
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

Add missing entry in files field in package.json (#2988)
  packages/astro/package.json
Labels: core

Create thin-cameras-clean.md
  .changeset/thin-cameras-clean.md
Labels: none

keep publishing to latest, even in pre mode (#2990)
  package.json
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

Revert "keep publishing to latest, even in pre mode (#2990)" t This reverts commit 56fa340c854aab33aa0b6b86bf0a5e8db2afc00d.
  package.json
Labels: none

fix markdown mode default (#2991)
  packages/astro/src/core/config.ts
Labels: core

[ci] format
  packages/astro/src/core/config.ts
Labels: core

add missing changeset for #2991
  .changeset/sour-laws-raise.md
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Docs: netlify adapter site requirement (#2996)
  .changeset/angry-suits-thank.md
  packages/integrations/netlify/readme.md
  packages/integrations/netlify/src/index.ts
Labels: none

[ci] format
  packages/integrations/netlify/CHANGELOG.md
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Update readme.md
  packages/integrations/node/readme.md
Labels: none

fix(#2981): keeps `astro preview` server alive (#3004)
  .changeset/big-yaks-invite.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/preview/index.ts
Labels: core

[ci] format
  packages/astro/src/core/preview/index.ts
Labels: core

Fixes dynamic API routes in SSR (#3006)
  .changeset/three-donkeys-train.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-dynamic/src/pages/api/products/[id].js
  packages/astro/test/ssr-dynamic.test.js
Labels: test, core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

fix: @astrojs/vercel bug fixes (#3000)
  .changeset/sweet-ways-tan.md
  packages/integrations/vercel/src/index.ts
Labels: none

Astro add docs (#2958)
  .changeset/strange-avocados-double.md
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/open.ts
Labels: core

[ci] format
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/open.ts
Labels: core

fix: Nested hydration with Solid (#3003)
  .changeset/ten-rice-unite.md
  packages/integrations/solid/client.js
  packages/renderers/renderer-solid/client.js
Labels: renderer, framework-solid

fix(integrations): `astro:build:done` dir now matches SSR client output (#3008)
  .changeset/empty-pens-talk.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/partytown/src/index.ts
  packages/integrations/vercel/src/index.ts
Labels: core

Fix Netlify adapter and dynamic routes (#3011)
  .changeset/nervous-chairs-check.md
  package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/dynamic-route.test.js
  packages/integrations/netlify/test/fixtures/.gitignore
  packages/integrations/netlify/test/fixtures/dynamic-route/src/pages/products/[id].astro
Labels: test, core

[ci] format
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/dynamic-route.test.js
Labels: test, core

fix(#2987): relative config handling with `--config` flag (#3001)
  .changeset/dirty-trains-yawn.md
  packages/astro/src/core/config.ts
  packages/astro/test/config.test.js
  packages/astro/test/fixtures/astro-basic/my-config.mjs
  packages/astro/test/test-utils.js
Labels: test, core

[ci] format
  packages/astro/src/core/config.ts
  packages/astro/test/config.test.js
  packages/astro/test/test-utils.js
Labels: test, core

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
