Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

Fix(component): align starting position in Markdown slot (#2631)
  packages/astro/components/Markdown.astro
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/nested-list.astro
Labels: test, core

Add sass dev dep to blog-multiple-authors example (#2643)
  examples/blog-multiple-authors/package.json
Labels: example

Fixed incorrect types and imports (#2630)
  .changeset/grumpy-tigers-melt.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/error.ts
  packages/astro/src/core/render/dev/html.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/renderers.ts
  packages/astro/src/core/vite.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-css/resolve.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Add fine-grained HMR support (#2649)
  .changeset/tasty-tigers-flow.md
  packages/astro/package.json
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  yarn.lock
Labels: core

[ci] yarn format
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: core

chore: upgrade compiler (#2653)
  .changeset/lazy-parents-turn.md
  packages/astro/package.json
  yarn.lock
Labels: core

[ci] update lockfile (#2646)
  yarn.lock
Labels: none

fix(core): Issue #2625. error with process.env.LANG larger than 5 (#2645)
  .changeset/twelve-eggs-join.md
  packages/astro/src/core/logger.ts
Labels: core

ensure utf8 encoding when serving html (#2654)
  .changeset/spicy-tomatoes-act.md
  examples/ssr/server/server.mjs
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: example, core

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Add Non-HTML Pages example (#2637)
  examples/non-html-pages/.gitignore
  examples/non-html-pages/.npmrc
  examples/non-html-pages/.stackblitzrc
  examples/non-html-pages/README.md
  examples/non-html-pages/astro.config.mjs
  examples/non-html-pages/package.json
  examples/non-html-pages/public/favicon.ico
  examples/non-html-pages/sandbox.config.json
  examples/non-html-pages/src/pages/company.json.ts
  examples/non-html-pages/src/pages/index.astro
  examples/non-html-pages/tsconfig.json
Labels: example

[ci] yarn format
  examples/non-html-pages/src/pages/company.json.ts
Labels: example

get new example working during build
  examples/non-html-pages/README.md
  examples/non-html-pages/src/pages/about.json.ts
  examples/non-html-pages/src/pages/company.json.ts
  examples/non-html-pages/src/pages/index.astro
Labels: example

feat: improve third-party Astro package compatability (#2665)
  .changeset/dry-geese-speak.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
Labels: core

[ci] update lockfile (#2659)
  yarn.lock
Labels: none

fix astro scoping of "@import" inside of style tags (#2656)
  .changeset/lovely-lies-dress.md
  examples/fast-build/package.json
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: example, core

[ci] yarn format
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] update lockfile (#2668)
  yarn.lock
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fix HTMLElement expression warning (#2675)
  packages/astro/src/runtime/server/index.ts
Labels: core

fix(hmr): HMR regression related to .astro updates (#2681)
  .changeset/thin-birds-rescue.md
  packages/astro/package.json
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  yarn.lock
Labels: core

fix(runtime): do not render empty Fragment (#2667)
  packages/astro/src/runtime/server/index.ts
Labels: core

[ci] update lockfile (#2676)
  yarn.lock
Labels: none

Fix typo (#2674)
  examples/ssr/src/api.ts
Labels: example

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

update ci branch name
  .github/workflows/nightly.yml
Labels: ğŸš¨ action

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] update lockfile (#2687)
  yarn.lock
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

fix: disable HMR during build (#2684)
  .changeset/wet-knives-raise.md
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

fix vite version (#2694)
  packages/astro/package.json
  yarn.lock
Labels: core

fix failing format command in CI (#2696)
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.json
  scripts/smoke/index.js
  scripts/smoke/sync.js
  smoke/docs-main/package.json
  yarn.lock
Labels: ğŸš¨ action

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Add detailed type annotations to AstroUserConfig (#2698)
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
Labels: core

[ci] yarn format
  packages/astro/src/@types/astro.ts
Labels: core
