Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

[ci] yarn format
  CONTRIBUTING.md
Labels: none

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

Improve error handling (#2539)
  packages/astro/src/runtime/server/index.ts
Labels: core

Added `prettier-plugin-astro` (#2513)
  package.json
  yarn.lock
Labels: none

adding test coverage for boolean and enum HTML attributes (#2544)
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
Labels: test, core

Fix type FetchContentResultBase['url'] (#2425)
  packages/astro/src/@types/astro.ts
Labels: core

fix: curly braces inside Shiki (#2545)
  packages/astro/components/Code.astro
  packages/markdown/remark/src/remark-shiki.ts
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Prevent the server plugin from running during the build (#2552)
  .changeset/fresh-moose-compare.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/astro-jsx.test.js
  packages/astro/test/astro-pagination.test.js
  packages/astro/test/builtins.test.js
  packages/astro/test/lit-element.test.js
  packages/astro/test/markdown.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/preact-component.test.js
Labels: test, core

Update FUNDING.md (#2556)
  FUNDING.md
Labels: none

clean up funding.md doc
  FUNDING.md
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore: upgrade vite and renderer dependencies (#2563)
  .changeset/afraid-moles-hunt.md
  .changeset/loud-seals-camp.md
  .changeset/many-berries-bake.md
  packages/astro/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  yarn.lock
Labels: core, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

format
  FUNDING.md
  packages/astro/CHANGELOG.md
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/astro-jsx.test.js
  packages/astro/test/lit-element.test.js
  packages/astro/test/postcss.test.js
Labels: test, core

Revert "Added `prettier-plugin-astro` (#2513)"
  package.json
  yarn.lock
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fixed curly braces inside Shiki codeblocks (#2545) (#2564)
  .changeset/six-ants-hunt.md
Labels: none

Update the wording on one of our issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fixes pageUrlFormat: 'file' in static build (#2569)
  .changeset/gold-kangaroos-notice.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static-build-page-url-format/src/pages/one.astro
  packages/astro/test/fixtures/static-build-page-url-format/src/pages/sub/page.astro
  packages/astro/test/static-build-page-url-format.test.js
Labels: test, core

[ci] yarn format
  packages/astro/test/static-build-page-url-format.test.js
Labels: test, core

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

Use noExternal config on 'astro' (#2570)
  .changeset/soft-mayflies-warn.md
  packages/astro/src/core/create-vite.ts
Labels: core

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Added LitCounter.js
  examples/framework-multiple/src/components/LitCounter.js
Labels: example

[ci] yarn format
  examples/ssr/astro.config.mjs
  examples/ssr/build.mjs
  examples/ssr/server/api.mjs
  examples/ssr/server/dev-api.mjs
  examples/ssr/server/server.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/styles/common.css
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/renderers.ts
  packages/astro/src/core/render/renderer.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/core/routing/validation.ts
Labels: example, core

fix security issue: untrusted ci output
  .github/workflows/issue.yml
  .github/workflows/main.yml
Labels: ğŸš¨ action

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Update smoke tests to include external docs and www (#2557)
  .gitignore
  package.json
  scripts/jsconfig.json
  scripts/package.json
  scripts/smoke/cleanup.js
  scripts/smoke/index.js
  yarn.lock
Labels: none

[ci] yarn format
  scripts/smoke/cleanup.js
Labels: none

Support non-HTML pages (#2586)
  .changeset/few-coats-warn.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/static build/src/pages/company.json.ts
  packages/astro/test/fixtures/static build/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/static build/src/pages/posts.json.js
  packages/astro/test/fixtures/static build/src/pages/posts/nested/more.md
  packages/astro/test/fixtures/static build/src/pages/posts/thoughts.md
  packages/astro/test/fixtures/with-endpoint-routes/astro.config.mjs
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/home.json.ts
  packages/astro/test/static-build.test.js
Labels: test, core

[ci] yarn format
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

Skip the docs-main smoke test (#2591)
  scripts/smoke/index.js
Labels: none

[ci] yarn format
  scripts/smoke/index.js
Labels: none

Resolve relative imports from hoisted scripts (static build) (#2581)
  .changeset/sour-rabbits-sing.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/static build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/static build/src/scripts/inline-hoist.js
  packages/astro/test/lit-element.test.js
  yarn.lock
Labels: test, core

[ci] yarn format
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/lit-element.test.js
Labels: test, core

Move SASS to devDependencies (#2572)
  packages/astro/package.json
Labels: core

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
