Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, action, docs, www, i18n

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

action:
- .github/workflows/**

docs:
- docs/**

www:
- www/**

i18n:
- any:
  - 'docs/src/pages/*/**'
  - '!docs/src/pages/core-concepts/**'
  - '!docs/src/pages/guides/**'
  - '!docs/src/pages/migration/**'
  - '!docs/src/pages/reference/**'

Start of fixing multiple CSS issue (#1838)
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-styles-ssr.test.js
  yarn.lock
Labels: none

[ci] yarn format
  packages/astro/src/vite-plugin-build-css/index.ts
Labels: none

Fix PostCSS (and Autoprefixer) processing (#1837)
  .changeset/twenty-rabbits-repeat.md
  docs/src/pages/guides/styling.md
  packages/astro/package.json
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/test/fixtures/postcss/postcss.config.cjs
  packages/astro/test/fixtures/postcss/public/global.css
  packages/astro/test/fixtures/postcss/src/components/Astro.astro
  packages/astro/test/fixtures/postcss/src/components/Solid.css
  packages/astro/test/fixtures/postcss/src/components/Solid.jsx
  packages/astro/test/fixtures/postcss/src/components/Svelte.svelte
  packages/astro/test/fixtures/postcss/src/components/Vue.vue
  packages/astro/test/fixtures/postcss/src/pages/index.astro
  packages/astro/test/fixtures/postcss/src/styles/linked.css
  packages/astro/test/postcss.test.js
  yarn.lock
Labels: docs

Docs/add italian translation (#1689)
  docs/src/pages/it/getting-started.md
Labels: docs, i18n

[ci] yarn format
  docs/src/pages/it/getting-started.md
Labels: docs, i18n

Add Autoprefixer change to 0.21 migration guide (#1841)
  docs/src/pages/migration/0.21.0.md
Labels: docs

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Implement `client:only` handling (#1716)
  .changeset/polite-ladybugs-train.md
  packages/astro/package.json
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/fixtures/astro-dynamic/src/pages/client-only.astro
  packages/astro/test/fixtures/custom-elements/my-component-lib/server.js
  yarn.lock
Labels: none

[ci] yarn format
  packages/astro/src/runtime/server/index.ts
Labels: none

Fix Windows CSS bundling bug (#1840)
  .changeset/quick-cheetahs-itch.md
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/extract-assets.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-styles-ssr.test.js
  packages/astro/test/fixtures/astro-styles-ssr/src/components/VueScoped.vue
  packages/astro/test/postcss.test.js
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  yarn.lock
Labels: none

Clean up, simplify types (#1816)
  packages/astro/package.json
  packages/astro/src/@types/astro-runtime.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/check.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/types.d.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/paginate.ts
  packages/astro/src/core/ssr/routing.ts
  packages/astro/src/core/ssr/rss.ts
  packages/astro/src/core/util.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-css/resolve.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: none

Fix: dev server routing when not using subpath (#1846)
  .changeset/bright-glasses-jump.md
  packages/astro/src/core/dev/index.ts
Labels: none

[ci] yarn format
  packages/astro/src/core/dev/index.ts
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fix docs Netlify build (#1859)
  docs/src/config.ts
Labels: docs

[ci] yarn format
  docs/src/config.ts
Labels: docs

fix npm init flag handling in create-astro (#1862)
  .changeset/real-cats-act.md
  packages/create-astro/src/index.ts
Labels: none

[ci] yarn format
  packages/create-astro/src/index.ts
Labels: none

fix: HMR regression (#1858)
  .changeset/beige-hairs-design.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/ssr/index.ts
Labels: none

[ci] yarn format
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/ssr/index.ts
Labels: none

fix: header logo/nav/svg (#1845)
  www/src/components/MainHeader.astro
Labels: www

fix: enable node builtins (#1771)
  packages/astro/src/core/create-vite.ts
  packages/astro/test/builtins.test.js
  packages/astro/test/fixtures/builtins/src/components/Version.astro
  packages/astro/test/fixtures/builtins/src/pages/bare.astro
Labels: none

[ci] yarn format
  packages/astro/src/core/create-vite.ts
Labels: none
