Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fix: `is self accepting` pt 2 module graph boogaloo (#2872)
  .changeset/wise-garlics-bathe.md
  packages/astro/src/core/render/dev/index.ts
  packages/integrations/preact/package.json
  packages/integrations/preact/src/index.ts
Labels: core

fix shiki perf issue (#2870)
  .changeset/silly-sloths-hammer.md
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown

fix adblock issue (#2875)
  .changeset/strong-bears-knock.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-dynamic.test.js
Labels: test, core

Feat: improve production build logging (#2857)
  .changeset/rude-trainers-repeat.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
Labels: core

fix markdown page script injection (#2871)
  .changeset/cyan-pigs-ring.md
  examples/with-tailwindcss/src/pages/index.astro
  examples/with-tailwindcss/src/pages/markdown-page.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/markdown-page.md
  packages/astro/test/fixtures/tailwindcss/src/styles/global.css
  packages/astro/test/tailwindcss.test.js
Labels: example, test, core

improve some github templates (#2876)
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

[ci] format
  examples/with-tailwindcss/src/pages/markdown-page.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: example, core

test: update error test for vite@2.9.x (#2877)
  packages/astro/test/errors.test.js
Labels: test, core

[ci] format
  packages/astro/test/errors.test.js
Labels: test, core

fix(#2846): handle destructured private env usage during SSR (#2861)
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/src/pages/destructured.astro
Labels: test, core

[ci] update lockfile (#2854)
  examples/docs/package.json
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: example, core

[ci] format
  packages/astro/src/vite-plugin-env/index.ts
Labels: core

Build to a single file (#2873)
  .changeset/small-horses-protect.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/add-rollup-input.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.d.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/fixtures/ssr-api-route/src/pages/index.astro
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/static-build.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/node/src/server.ts
Labels: test, core

[ci] format
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/node/src/server.ts
Labels: test, core

Refactor: move prism to `@astrojs/prism/components` (#2878)
  .changeset/perfect-ravens-count.md
  packages/astro-prism/component/Prism.astro
  packages/astro-prism/package.json
  packages/astro/components/index.js
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] update lockfile (#2882)
  examples/docs/package.json
  examples/with-vite-plugin-pwa/package.json
  package.json
  pnpm-lock.yaml
Labels: example

Netlify adapter (#2879)
  .changeset/blue-rocks-smoke.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/readme.md
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/tsconfig.json
  pnpm-lock.yaml
Labels: core

[ci] format
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
Labels: core

Docs: READMEs for component framework integrations (#2880)
  packages/integrations/lit/README.md
  packages/integrations/preact/README.md
  packages/integrations/react/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/vue/README.md
Labels: none

refactor: move Prism comp to default exp (#2887)
  packages/astro-prism/Prism.astro
  packages/astro-prism/index.js
  packages/astro-prism/internal.d.ts
  packages/astro-prism/internal.mjs
  packages/astro-prism/package.json
  packages/markdown/remark/src/remark-prism.ts
Labels: markdown

[ci] format
  packages/astro-prism/index.js
Labels: none

feat(cli): scaffold out `astro add` command (#2849)
  .changeset/brave-rings-jump.md
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/babel.ts
  packages/astro/src/core/add/consts.ts
  packages/astro/src/core/add/imports.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/add/wrapper.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/messages.ts
  pnpm-lock.yaml
Labels: example, core

[ci] format
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/config.ts
Labels: example, core

Docs: remaining integration READMEs (#2885)
  .changeset/swift-pets-lick.md
  packages/integrations/partytown/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
Labels: none

Exit `pre` mode (#2888)
  .changeset/pre.json
  packages/astro/src/core/add/index.ts
Labels: core

chore: update incorrect changeset
  .changeset/blue-rocks-smoke.md
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/integrations/node/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

Correct package name in solid intergration readme (#2889)
  .changeset/polite-mirrors-fix.md
  packages/integrations/solid/README.md
Labels: none

Fix missing `execa` dependency (#2891)
  .changeset/good-jobs-raise.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

add experimental integrations flag (#2894)
  .changeset/hip-vans-return.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/test/config-validate.test.js
Labels: test, core

small tailwind example config fix (#2893)
  .changeset/shaggy-bulldogs-beam.md
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/src/core/add/consts.ts
Labels: example, core

[ci] format
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none
