Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

remove "experimental" warning from governance doc
  GOVERNANCE.md
Labels: none

Allow an adapter to export default (#3022)
  .changeset/forty-boats-remain.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/src/server-entrypoint.ts
Labels: core

[ci] format
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/integrations/vercel/src/server-entrypoint.ts
Labels: core

Exclude any ?raw or ?url css imports when adding asset links (#3020)
  .changeset/dull-bobcats-clean.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
  packages/astro/test/fixtures/astro-css-bundling-import/src/layouts/InlineLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/pages/page-3.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/styles/page-three.css
Labels: test, core

[ci] format
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
Labels: test, core

Warn when trying to access headers in SSG mode (#3021)
  .changeset/odd-squids-rest.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/fixtures/static build/src/pages/index.astro
  packages/astro/test/static-build.test.js
Labels: test, core

[ci] format
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

Fixes adding set-cookie headers multiple times (#3026)
  .changeset/calm-dolphins-remain.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/login.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

[ci] format
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

Update JSDoc comments that get shown in editor (#2999)
  .changeset/shaggy-pans-buy.md
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore: updated esbuild (#3028)
  .changeset/breezy-days-remember.md
  package.json
  packages/astro/package.json
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: core

add missing self type (#3042)
  packages/astro/src/@types/astro.ts
Labels: core

remove site requirement from netlify adapter (#3041)
  packages/integrations/netlify/src/README.md
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/src/netlify-functions.ts
Labels: none

[ci] format
  packages/integrations/netlify/src/index.ts
Labels: none

Create dry-candles-behave.md
  .changeset/dry-candles-behave.md
Labels: none

Fixed MD Lint issues (#3038)
  examples/docs/README.md
Labels: example

update tailwind integration readme
  .changeset/famous-wombats-promise.md
  packages/integrations/tailwind/README.md
Labels: none

fix our weird beta release issues (#3031)
  .changeset/pre.json
  package.json
  patches/@changesets+assemble-release-plan+5.1.2.patch
  pnpm-lock.yaml
Labels: none

Fix SSR static build public file copying. fixes #3016 (#3037)
  .changeset/metal-grapes-tickle.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static build SSR/astro.config.mjs
  packages/astro/test/fixtures/static build SSR/package.json
  packages/astro/test/fixtures/static build SSR/public/asset.txt
  packages/astro/test/fixtures/static build SSR/public/nested/asset2.txt
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: test, core

[ci] format
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/static-build.test.js
Labels: test, core

update test names containing spaces
  packages/astro/test/fixtures/static-build-ssr/astro.config.mjs
  packages/astro/test/fixtures/static-build-ssr/package.json
  packages/astro/test/fixtures/static-build-ssr/public/asset.txt
  packages/astro/test/fixtures/static-build-ssr/public/nested/asset2.txt
  packages/astro/test/fixtures/static-build/astro.config.mjs
  packages/astro/test/fixtures/static-build/package.json
  packages/astro/test/fixtures/static-build/pkg/package.json
  packages/astro/test/fixtures/static-build/pkg/pkg.mjs
  packages/astro/test/fixtures/static-build/src/components/ExternalHoisted.astro
  packages/astro/test/fixtures/static-build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/static-build/src/components/MainHead.astro
  packages/astro/test/fixtures/static-build/src/components/Nav/index.jsx
  packages/astro/test/fixtures/static-build/src/components/Nav/styles.module.scss
  packages/astro/test/fixtures/static-build/src/layouts/Main.astro
  packages/astro/test/fixtures/static-build/src/pages/company.json.ts
  packages/astro/test/fixtures/static-build/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/static-build/src/pages/hoisted.astro
  packages/astro/test/fixtures/static-build/src/pages/index.astro
  packages/astro/test/fixtures/static-build/src/pages/posts.json.js
  packages/astro/test/fixtures/static-build/src/pages/posts/nested/more.md
  packages/astro/test/fixtures/static-build/src/pages/posts/thoughts.md
  packages/astro/test/fixtures/static-build/src/scripts/external-hoist.ts
  packages/astro/test/fixtures/static-build/src/scripts/inline-hoist.js
  packages/astro/test/fixtures/static-build/src/styles/main.scss
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: test, core

chore: webapi test now use chai (#3048)
  packages/webapi/package.json
  packages/webapi/run/test.setup.js
  packages/webapi/test/base64.js
  packages/webapi/test/basic.js
  packages/webapi/test/characterdata.js
  packages/webapi/test/elements.js
  packages/webapi/test/fetch.js
  packages/webapi/test/imagedata.js
  packages/webapi/test/internals.js
  packages/webapi/test/media.js
  packages/webapi/test/offscreencanvas.js
  packages/webapi/test/options.js
  packages/webapi/test/storage.js
  packages/webapi/test/structuredclone.js
  packages/webapi/test/urlpattern.js
  pnpm-lock.yaml
Labels: none

correct changesets
  .changeset/dry-candles-behave.md
  .changeset/shiny-rice-worry.md
  .changeset/ten-rice-unite.md
Labels: none

update lockfile (#3059)
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/integrations/lit/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: example, core, renderer, framework-lit, framework-preact, framework-solid, framework-svelte

update changeset
  .changeset/shiny-rice-worry.md
Labels: none

update changeset
  .changeset/shiny-rice-worry.md
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/integrations/node/CHANGELOG.md
Labels: core

Update astro changelog
  packages/astro/CHANGELOG.md
Labels: core

attempt to fix the 'no commits' bug in changeset
  package.json
Labels: none

fix up changelogs
  packages/astro/CHANGELOG.md
  packages/integrations/lit/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/integrations/node/CHANGELOG.md
  packages/integrations/partytown/CHANGELOG.md
  packages/integrations/preact/CHANGELOG.md
  packages/integrations/solid/CHANGELOG.md
  packages/integrations/svelte/CHANGELOG.md
  packages/integrations/tailwind/CHANGELOG.md
  packages/integrations/turbolinks/CHANGELOG.md
  packages/integrations/vercel/CHANGELOG.md
  packages/integrations/vue/CHANGELOG.md
  packages/renderers/renderer-solid/CHANGELOG.md
Labels: core, renderer, framework-solid

[ci] format
  packages/astro/CHANGELOG.md
  packages/integrations/vercel/CHANGELOG.md
Labels: core

trigger re-release changeset
  .changeset/stale-walls-whisper.md
Labels: none

trigger re-release changeset
  .changeset/stale-walls-whisper.md
Labels: none

trigger re-release changeset
  .changeset/trigger-re-release.md
Labels: none

add adapter question to issue template
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
