Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

[ci] format
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

cleanup the repo, remove outdated files and folders (#2771)
  .eslintrc.cjs
  docs/README.md
  examples/portfolio-svelte/.gitignore
  examples/portfolio-svelte/.npmrc
  examples/portfolio-svelte/.stackblitzrc
  examples/portfolio-svelte/README.md
  examples/portfolio-svelte/astro.config.mjs
  examples/portfolio-svelte/package.json
  examples/portfolio-svelte/public/assets/mesh-gradient.jpg
  examples/portfolio-svelte/public/favicon.ico
  examples/portfolio-svelte/sandbox.config.json
  examples/portfolio-svelte/src/components/Button.svelte
  examples/portfolio-svelte/src/components/Footer.svelte
  examples/portfolio-svelte/src/components/MainHead.astro
  examples/portfolio-svelte/src/components/Nav.svelte
  examples/portfolio-svelte/src/components/PortfolioPreview.svelte
  examples/portfolio-svelte/src/layouts/project.astro
  examples/portfolio-svelte/src/pages/404.astro
  examples/portfolio-svelte/src/pages/about.astro
  examples/portfolio-svelte/src/pages/index.astro
  examples/portfolio-svelte/src/pages/project/mars-rover.md
  examples/portfolio-svelte/src/pages/project/nested/lunar-eclipse.md
  examples/portfolio-svelte/src/pages/projects.astro
  examples/portfolio-svelte/src/styles/global.scss
  examples/portfolio-svelte/tsconfig.json
  netlify.toml
  www/README.md
Labels: example

update lockfile (#2792)
  pnpm-lock.yaml
Labels: none

Fix `set:html` behavior with `null` (#2790)
  .changeset/serious-guests-matter.md
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/set-html.astro
Labels: test, core

[ci] format
  packages/astro/src/runtime/server/escape.ts
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

fix flakey windows tests (#2795)
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-basic.test.js
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/astro-sitemap-rss.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/debug-component.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/.gitignore
  packages/astro/test/preview-routing.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/sass.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

[ci] format
  packages/astro/test/0-css.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/debug-component.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/preview-routing.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/sass.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

Fix for allowing space in folder name (#2797)
  .changeset/grumpy-dancers-smell.md
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: core

Update the lockfile (#2800)
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

[windows:ci] handle CLI output in a cross-compat way (#2801)
  .changeset/modern-feet-lay.md
  packages/astro/src/core/logger.ts
Labels: core

Fix missing style imports on initial load (#2791)
  .changeset/tasty-beers-sit.md
  packages/astro/src/core/render/dev/css.ts
Labels: core

Export defineConfig helper (#2803)
  .changeset/quick-islands-call.md
  examples/blog-multiple-authors/astro.config.mjs
  examples/blog/astro.config.mjs
  examples/component/demo/astro.config.mjs
  examples/docs/astro.config.mjs
  examples/env-vars/astro.config.mjs
  examples/framework-alpine/astro.config.mjs
  examples/framework-lit/astro.config.mjs
  examples/framework-multiple/astro.config.mjs
  examples/framework-preact/astro.config.mjs
  examples/framework-react/astro.config.mjs
  examples/framework-solid/astro.config.mjs
  examples/framework-svelte/astro.config.mjs
  examples/framework-vue/astro.config.mjs
  examples/minimal/astro.config.mjs
  examples/non-html-pages/astro.config.mjs
  examples/portfolio/astro.config.mjs
  examples/ssr/astro.config.mjs
  examples/starter/astro.config.mjs
  examples/subpath/astro.config.mjs
  examples/with-markdown-plugins/astro.config.mjs
  examples/with-markdown-shiki/astro.config.mjs
  examples/with-markdown/astro.config.mjs
  examples/with-nanostores/astro.config.mjs
  examples/with-tailwindcss/astro.config.mjs
  examples/with-vite-plugin-pwa/astro.config.mjs
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
Labels: example, core

update HTML escape logic (#2793)
  .changeset/pink-stingrays-swim.md
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-expr.test.js
  packages/astro/test/fixtures/astro-expr/src/pages/escape.astro
  pnpm-lock.yaml
Labels: test, core

Gitpod setup improvements (#2789)
  .gitpod.Dockerfile
  .gitpod.yml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

chore: fix internal package
  packages/astro/test/fixtures/static build/package.json
  packages/astro/test/fixtures/static build/pkg/package.json
  pnpm-lock.yaml
Labels: core

fix: Svelte PostCSS config error (#2807)
  .changeset/large-snakes-lay.md
  packages/renderers/renderer-svelte/index.js
Labels: renderer, framework-svelte

Disable sourcemaps for build (#2806)
  .changeset/spicy-chicken-pump.md
  scripts/cmd/build.js
Labels: none

fix: ignore astro-scripts
  .changeset/config.json
Labels: none

fix: do not ignore astro-scripts
  .changeset/config.json
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

[ci] format
  packages/astro/CHANGELOG.md
Labels: core

fix: mark static build pkg as private
  packages/astro/test/fixtures/static build/pkg/package.json
Labels: core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] update lockfile (#2810)
  examples/docs/package.json
  examples/with-tailwindcss/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/renderers/renderer-lit/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, core, renderer, framework-lit

logic for opening example projects (#2811)
  .gitpod.yml
  .gitpod/gitpod-setup.sh
Labels: none

Implements redirects, headers for SSR (#2798)
  .changeset/fuzzy-lies-nail.md
  examples/ssr/astro.config.mjs
  examples/ssr/package.json
  examples/ssr/server/api.mjs
  examples/ssr/server/server.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/components/AddToCart.svelte
  examples/ssr/src/components/Cart.svelte
  examples/ssr/src/components/Header.astro
  examples/ssr/src/models/user.ts
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/login.astro
  examples/ssr/src/pages/login.form.js
  examples/ssr/src/pages/products/[id].astro
  examples/ssr/tsconfig.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/polyfill.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/request.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: example, core

[ci] format
  examples/ssr/astro.config.mjs
  examples/ssr/server/api.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/models/user.ts
  examples/ssr/src/pages/login.form.js
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/request.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: example, core

Adds tests for tailwind support in `dev` and `build` (#2809)
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/tailwindcss/postcss.config.js
  packages/astro/test/fixtures/tailwindcss/src/components/Button.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/src/styles/global.css
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
  packages/astro/test/tailwindcss.test.js
  pnpm-lock.yaml
Labels: test, core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Allow SSR dynamic routes to not implement getStaticPaths (#2815)
  .changeset/spotty-houses-stare.md
  examples/ssr/astro.config.mjs
  examples/ssr/src/pages/products/[id].astro
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/test-utils.js
Labels: example, test, core

[ci] format
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/test/ssr-dynamic.test.js
Labels: test, core

test: add tailwind escape test (#2816)
  packages/astro/test/fixtures/tailwindcss/src/components/Complex.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/tailwindcss.test.js
Labels: test, core

[ci] update lockfile (#2822)
  packages/astro/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/renderers/renderer-solid/package.json
  pnpm-lock.yaml
Labels: core, renderer, framework-solid

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Fix island deduplication ignoring props. (#2825)
  .changeset/silent-walls-tan.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/fixtures/react-component/src/components/Hello.jsx
  packages/astro/test/fixtures/react-component/src/pages/index.astro
  packages/astro/test/fixtures/vue-component/src/components/Counter.vue
  packages/astro/test/fixtures/vue-component/src/pages/index.astro
  packages/astro/test/react-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

Feat: change to shiki default md renderer (#2824)
  .changeset/lemon-needles-count.md
  examples/blog/src/styles/blog.css
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/styles/code.css
  examples/docs/src/styles/index.css
  examples/with-markdown/src/styles/global.css
  packages/astro/test/astro-markdown.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
Labels: example, test, core, markdown

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**
