Repository glasnost4g/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, test, core, create-astro, markdown, renderer, framework-lit, framework-preact, framework-react, framework-solid, framework-svelte, framework-vue

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ğŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js

core:
- packages/astro/**

create-astro:
- packages/create-astro/**

markdown:
- packages/markdown/**

renderer:
- packages/renderers/**

framework-lit:
- packages/renderers/renderer-lit/**

framework-preact:
- packages/renderers/renderer-preact/**

framework-react:
- packages/renderers/renderer-react/**

framework-solid:
- packages/renderers/renderer-solid/**

framework-svelte:
- packages/renderers/renderer-svelte/**

framework-vue:
- packages/renderers/renderer-vue/**

fix bad descirption jsdoc tag, post-merge
  packages/astro/src/@types/astro.ts
Labels: core

fix: upgraded vite (#2678)
  .changeset/green-pumpkins-happen.md
  packages/astro/package.json
  yarn.lock
Labels: core

Improve build perf (#2697)
  .changeset/orange-coins-whisper.md
  .changeset/short-rats-double.md
  packages/astro/src/core/build/page-data.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: core, markdown

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Remove the after in the Lit test (#2710)
  packages/astro/test/lit-element.test.js
Labels: test, core

Add .d.ts file to astro package for language-tools consumption (#2711)
  packages/astro/env.d.ts
  packages/astro/package.json
Labels: core

chore: changed `data-astro-raw` to `is:raw` (#2706)
  .changeset/thirty-lobsters-ring.md
  packages/astro/components/Code.astro
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/src/remark-prism.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: core, markdown

[ci] yarn format
  packages/astro/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
Labels: core, markdown

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore(ci): enable ci on `next` (#2716)
  .github/workflows/ci.yml
Labels: ğŸš¨ action

Remove `postcss-load-config` warning for Svelte users (#2715)
  .changeset/eighty-kiwis-brush.md
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: renderer, framework-svelte

[ci] yarn format
  packages/renderers/renderer-svelte/index.js
Labels: renderer, framework-svelte

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

chore: revert #2715 (#2722)
  .changeset/funny-pants-begin.md
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: renderer, framework-svelte

[ci] yarn format
  packages/astro/CHANGELOG.md
Labels: core

fix(ci): prevent double CI runs on `next` branch
  .github/workflows/ci.yml
Labels: ğŸš¨ action

fix(ci): open changesets from `next`
  .github/workflows/ci.yml
Labels: ğŸš¨ action

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

Add used renderers to each example package.json `devDependencies` (#2727)
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/fast-build/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/portfolio-svelte/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
Labels: example

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

fix(ci): update notify script (#2730)
  scripts/notify/index.js
Labels: none

[ci] yarn format
  scripts/notify/index.js
Labels: none

remove a bad dev warning from static-build (#2733)
  .changeset/silver-foxes-bathe.md
  packages/astro/src/core/render/core.ts
Labels: core

Fix/2177/log missing local network ip (#2732)
  .changeset/yellow-trees-clean.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/cli.test.js
  scripts/cmd/build.js
Labels: test, core

fix format (#2736)
  .github/workflows/format.yml
  .prettierignore
  examples/component/pnpm-workspace.yaml
  examples/starter/astro.config.mjs
  examples/with-markdown/astro.config.mjs
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/cli.test.js
  packages/webapi/mod.d.ts
  packages/webapi/run/build.js
  packages/webapi/src/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/cmd/build.js
  turbo.json
Labels: example, ğŸš¨ action, test, core

[ci] collect stats
  scripts/stats/stats.csv
Labels: none

chore: update actions (#2738)
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/issue.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  package.json
Labels: ğŸš¨ action

chore: npmrc update (#2742)
  .npmrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Labels: none

Fixes windows test flakiness (#2744)
  packages/astro/src/core/build/fs.ts
Labels: core

[ci] format
  packages/astro/CHANGELOG.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-assets.test.js
  packages/astro/test/astro-global.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/static-build-frameworks.test.js
Labels: test, core

Update examples for 0.24.0 (#2740)
  examples/blog-multiple-authors/src/components/MainHead.astro
  examples/blog/src/components/BaseHead.astro
  examples/docs/src/components/HeadCommon.astro
  examples/framework-multiple/src/pages/index.astro
  examples/portfolio-svelte/package.json
  examples/portfolio-svelte/src/components/MainHead.astro
  examples/portfolio/package.json
  examples/starter/src/pages/index.astro
  examples/subpath/package.json
  examples/subpath/src/pages/index.astro
  examples/with-markdown-plugins/src/layouts/main.astro
  examples/with-markdown-shiki/src/layouts/main.astro
  examples/with-markdown/src/layouts/main.astro
  examples/with-nanostores/src/pages/index.astro
  examples/with-tailwindcss/src/pages/index.astro
  pnpm-lock.yaml
Labels: example

run tests on example change (#2745)
  .github/workflows/ci.yml
Labels: ğŸš¨ action

Update tests for legacy build (#2746)
  .changeset/pre.json
  examples/fast-build/.npmrc
  examples/fast-build/package.json
  examples/fast-build/src/components/ExternalHoisted.astro
  examples/fast-build/src/images/penguin.jpg
  examples/fast-build/src/images/random.jpg
  packages/astro/src/core/config.ts
  packages/astro/test/fixtures/legacy-build/astro.config.mjs
  packages/astro/test/fixtures/legacy-build/package.json
  packages/astro/test/fixtures/legacy-build/src/components/Counter.vue
  packages/astro/test/fixtures/legacy-build/src/components/Greeting.vue
  packages/astro/test/fixtures/legacy-build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/legacy-build/src/pages/[pokemon].astro
  packages/astro/test/fixtures/legacy-build/src/pages/index.astro
  packages/astro/test/fixtures/legacy-build/src/scripts/external-hoist.ts
  packages/astro/test/fixtures/legacy-build/src/styles/_global.scss
  packages/astro/test/fixtures/legacy-build/src/styles/global.css
  packages/astro/test/legacy-build.test.js
  packages/astro/test/static-build-code-component.test.js
  packages/astro/test/static-build-frameworks.test.js
  packages/astro/test/static-build-page-url-format.test.js
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: example, test, core

[ci] format
  packages/astro/test/legacy-build.test.js
Labels: test, core

Escape HTML by default (#2747)
  .changeset/sour-socks-enjoy.md
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-expr.test.js
  packages/astro/test/fixtures/astro-expr/src/pages/escape.astro
  pnpm-lock.yaml
Labels: test, core

[ci] format
  packages/astro/test/astro-expr.test.js
Labels: test, core

Improve logger (deduping, new help and version) (#2737)
  .changeset/neat-snakes-know.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/config.test.js
  packages/astro/test/test-utils.js
Labels: test, core
